body{
    background-color: whitesmoke;
}

.box{
    padding: 2rem;
    border: 1px solid #444;
}

.container__box{
    display: flex;
    justify-content: center;
}

.d-none {
    display: none;
}
.d-block {
    display: block;
    transform: rotate(10deg) translate(-200px);
    -webkit-transform: rotate(10deg) translate(-200px);
    -moz-transform: rotate(10deg) translate(-200px);
    -ms-transform: rotate(10deg) translate(-200px);
    -o-transform: rotate(10deg) translate(-200px);
    
}
.message__desktop{
    display: none;
    background-color: #000;
    color: #fff;
    text-align: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
}
.message__desktop.open{
    display: flex;
}

/* list users */
.item__user{
    transition: all linear .25s;
    -webkit-transition: all linear .25s;
    -moz-transition: all linear .25s;
    -ms-transition: all linear .25s;
    -o-transition: all linear .25s;
}
.item__user:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.icon__user{
    width: 2rem;
    height: 2rem;
    background-size: cover;
}

.img__user__profile{
    max-width:100px;
}

@media screen and (min-width: 768px) {
    .d-block{
        transform: rotate(0) translate(0);
        -webkit-transform: rotate(0) translate(0);
        -moz-transform: rotate(0) translate(0);
        -ms-transform: rotate(0) translate(0);
        -o-transform: rotate(0) translate(0);
    }
}

@media print {
    #showAll{
        display: none;
    }
}